/*
* Removes mobile highlight
*/
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, html {
	border: 0;
	margin: 0;
	padding: 0;
	//overflow: hidden;
}

canvas {
	border: 1px solid black;
	margin: 15px 0;
	width: 100%;
}
